.pokemon-list {
  text-align: left;
}
.pokemon-list .list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}
.pokemon-list label {
  padding-left: 7px;
}
.pokemon-list button {
  margin-right: 5px;
}
.pokemon-list ul {
  margin: 0;
  padding: 0;
}

.pm-detail {
  display: flex;
  flex-direction: column;
}
.pm-detail-header {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pm-detail-description {
  display: flex;
  flex-direction: row;
}
.pm-detail-edit .pm-detail-stats {
  padding: 5px;
}
.pm-detail-edit .pm-detail-stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pm-detail-stat-edit {
  width: 60px;
}
.pm-detail-description img {
  height: 150px;
  width: 150px;

}
.pm-detail-custom-name {
  text-align: left;
}
.pm-detail-stats {
  text-align: left;
  width: 100%;
}
.pm-detail-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
}
.pm-detail-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pm-detail-moves {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.pm-moves-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  line-height: 16px;
}
.pm-moves-list-item {
  margin: 5px;
  min-width: 1.5em; 
  font-size: 0.7em;
  text-align: center;
}
.move-detail {
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
}
.move-detail-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.move-detail-effect {
  margin: 1px 0;
}
.move-type-label {
  padding: 0 4px;
  background-color: orange;
  color: white;
  height: 16px;
  border-radius: 2px;
}

.pm-detail-level-up .pm-moves-list-item {
  display: flex;
  flex-direction: row;
}
.new-move .move-detail {
  width: 100%;
}
.pm-detail-level-up 
.pm-detail-moves-list .move-detail {
  width: 75%;
}
.pm-move-overwrite-button {
  min-width: 25%;
  width: 25%;
}
.disabled {
  pointer-events: none;
  cursor: pointer;
  background-color: white;
  color: lightgrey;
  border-color: rgba(211, 211, 211, 0.83);
}