/* Navbar*/
.navbar {
  margin-bottom: 10px;
}
.navbar .nav {
  flex-direction: row;
}
@media screen and (max-width: 380px) {
  .navbar-brand {
    height: 0;
    visibility: hidden;
    display: none;
  }
}
.navbar .nav .nav-item a.active {
  border-bottom: 3px solid #5755d9;
} 
.navbar .nav .nav-item a:hover {
  color: #5755d9;
}

/* Pokemon/Pokedex details */
.pokemon-detail .nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pokemon-detail img {
  height: 150px;
  width: 150px;
}
.pokemon-detail .panel .panel-header,
.panel .panel-footer {
  padding: .4rem;
}
.pokemon-detail .panel .panel-body {
  padding: 0 .4rem .8rem .4rem;
}
.pokemon-detail .card-header {
  display: flex;
  justify-content: space-between;
  padding: .4rem;
}
.pokemon-list {
  margin-bottom: .4rem;
}
.pokemon-list .nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pokemon-detail .card:last-child {
  margin-bottom: .4rem;
}

/* Generic components */
.type-label-container {
  display: flex;
  flex-wrap: wrap;
}
.type-label {
  color: white;
  padding: 0 .2rem;
  margin: .1rem;
  height: 1.2rem;
  min-width: 2.5rem;
  text-align: center;
}

.app .card {
  list-style: none;
  border-radius: 4px;
  box-shadow: 2px 1px 2px grey;
}
.app .card .card-body {
  padding: .4rem;
}

.thumbnail {
  height: 65px;
}
.thumbnail img {
  height: 65px;
  width: 65px;
}

/* App-wide styling */
.app a {
}
.app .btn {
}
a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}
a:focus {
  box-shadow: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.text-small {
  font-size: .8em;
}